<div flex="none" style="width: 7px;"></div>
<div flex layout="column" layout-align="center" class="padded" md-whiteframe="1">
    <div flex="20" layout="row" layout-align="center" style="color: white; padding: 2px; text-shadow: 2px 2px #686868;"><h3>Bizi Takip Edin</h3></div>
    <div flex="60" layout="column" layout-align="center">
        <div flex="65" layout="column">
            <div flex layout="row" layout-align="center center" style="height: 100%;">
                <a target="_blank" style="height: 32px; width: 32px; padding: 3px;"><img class="md-whiteframe-2dp" src="src/assets/img/facebook.png" alt="facebook" style="height: 100%;"></a>
                <a target="_blank" style="height: 32px; width: 32px; padding: 3px;"><img class="md-whiteframe-2dp" src="src/assets/img/facebook.png" alt="facebook" style="height: 100%;"></a>
                <a target="_blank" style="height: 32px; width: 32px; padding: 3px;"><img class="md-whiteframe-2dp" src="src/assets/img/facebook.png" alt="facebook" style="height: 100%;"></a>
                <a target="_blank" style="height: 32px; width: 32px; padding: 3px;"><img class="md-whiteframe-2dp" src="src/assets/img/facebook.png" alt="facebook" style="height: 100%;"></a>
            </div>
        </div>
    </div>
    <div flex="20"></div>
</div>