<div flex layout="column">
    <md-content flex>
        <!--Burası bir tag olacak-->
        <div style="height: 10px;"></div>
        <div flex="none" layout="row" style="height: 200px; border: 1px solid #666666; padding: 10px">
            <div flex="35" hide show-gt-md layout="row" layout-align="center center" style="background-color: #8290ff">Resim</div>
            <div flex layout="column" style="background-color: #ffd347">
                <div flex="15" layout="row">
                    <div flex="none" layout="row" layout-align="center center" style="width:100px; border: 1px solid #666666; background-color: #f1c40f; color: white"><span class="md-caption"><b>Makale</b></span></div>
                </div>
                <div flex="30" layout="row" layout-align="none start" style="padding: 5px; border: 1px solid #666666;"><b>Başlık Başlık Başlık Başlık</b></div>
                <div flex="40" layout="row" layout-align="none start" style="padding: 5px; border: 1px solid #666666;"><span class="md-caption">İçerik İçerik İçerik İçerik </span></div>
                <div flex layout="row" style="padding: 5px; border: 1px solid #666666;">
                    <div flex layout="row" layout-align="none end" style="border: 1px solid #666666;"><span class="md-caption"></span></div>
                    <div flex layout="row" layout-align="none end" style="border: 1px solid #666666;"><span class="md-caption"></span></div>
                    <div flex layout="row" layout-align="naone end" style="border: 1px solid #666666;"><span class="md-caption"></span></div>
                    <div flex layout="row" layout-align="none end" style="border: 1px solid #666666;"></div>
                </div>
            </div>
        </div>
    </md-content>
</div>