<div flex="none" style="height: 900px;">
    <div id="pp_header" flex="none" layout="column">
        <div flex="none" style="height: 1px; background-color: #f1c40f;"></div>
        <div flex="none" style="height: 40px;" layout="row">
            <div flex="20"></div>
            <div flex layout="row" layout-align="center center" style="background: #f1c40f; color: white; font-size: 12px">
                <h3>Popüler Yazılar</h3>
            </div>
            <div flex="20"></div>
        </div>
    </div>
    <div flex="none" style="height: 20px"></div>

    <div flex layout="column">
        <div flex="none" layout="column" layout-align="center" style="height: 120px; background: #9E9E9E;">
            <div flex="none" layout="row" style="height: 100px; background: #6775ae">
                <div flex="35" layout="row" style="background-color: #ffd347; padding: 5px;">
                    <div flex style="background: #ae675d"></div>
                </div>
                <div flex="65" layout="column">
                    <div flex="none" style="height: 40px; padding: 5px;"><b>Başlık</b></div>
                    <div flex="none" style="height: 60px; padding: 5px; overflow: hidden; font-weight: 400; font-size:12px; font-family:Arial">Lorem ipsum dolor sit amet, ne quod novum mei.Lorem ipsum dolor sit amet, ne quod novum mei</div>
                </div>
            </div>
        </div>
    </div>

</div>