<div flex="none" style="height: 900px;" ng-controller="PopularPostController">
    <!--Başlık kısmı-->
    <div id="pp_header" flex="none" layout="column">
        <div flex="none" style="height: 1px; background-color: #f1c40f;"></div>
        <div flex="none" style="height: 40px;" layout="row">
            <div flex="20"></div>
            <div flex layout="row" layout-align="center center" style="background: #f1c40f; color: white; font-size: 12px">
                <h3>Popüler Yazılar</h3>
            </div>
            <div flex="20"></div>
        </div>
    </div>
    <!--boşluk-->
    <div flex="none" style="height: 20px"></div>
    <!--her bir makale-->
    <div flex layout="column">
        <div flex="none" layout="column" layout-align="center" style="height: 100px; background: #9E9E9E;">
            <div flex="none" layout="row" style="height: 75px; background: #6775ae">
                <div flex="none" layout="row" style="width: 75px; background-color: #ffd347; padding: 5px;">
                    <div flex style="background: #ae675d"></div>
                </div>
                <div flex layout="column" style="padding: 3px">
                    <div flex style="overflow: hidden; line-height: 1"><span class="md-caption" style="font-weight: bold;">Lorem ipsum dolor sit amet, ne quod novum mei.Lorem ipsum dolor sit amet, ne quod novum mei</span></div>
                </div>
            </div>
        </div>
    </div>

</div>