<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/angular-material.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body ng-app="BlogApp" ng-cloak>

    <div id="area_0" layout="column">
        <!--En üst kısım-->
        <div id="area_1" flex="none" layout="row" hide show-gt-md style="height:150px;">
            <div id="area_1_1" flex="25" layout="row">
                <div id="area_1_1_1" flex="25" hide show-gt-md></div>
                <div id="area_1_1_2_leftside" flex="75" layout="row" layout-align="center center" hide show-gt-sm class="md-whiteframe-1dp" style="padding: 0 8px 0 8px; background-color: #f1c40f;">
                    <img src="assets/img/security_logo.png" alt="security_alt">
                </div>
            </div>
            <div id="area_1_2_banner" flex style="height: 100%; width: 100%; padding: 0 8px 0 8px;">
                <img flex src="assets/img/cyber_banner.png" alt="banner" style="opacity: 0.9" class="md-whiteframe-1dp" layout-fill>
            </div>
            <div id="area_1_3" flex="25" layout="row">
                <div id="area_1_3_1_followus" flex="75" layout="column" hide show-gt-sm ng-include="'partials/follow_us.html'"></div>
                <div id="area_1_3_2" flex="25" hide show-gt-md></div>
            </div>
        </div>

        <!--Tepe ile gövde arasındaki boşluk-->
        <div flex="none" hide show-gt-md style="height: 30px;"></div>

        <!--Gövde-->
        <div id="area_2-3-4" flex="nogrow" layout="row" style="height:1000px; background: #d3d3d3">
            <div id="area_2" flex="25" layout="row" hide show-gt-sm>
                <div id="area_2_1" flex="25" hide show-gt-md></div>
                <div id="area_2_2" flex="100" flex-gt-md="75"  layout="column" style="background: #e7e7e7">
                    <div id="area_2_2_1" ng-include="'partials/navbar.html'" flex="none" layout="column" hide show-gt-sm style="height: 150px; background: #acacac"></div>
                    <div flex="none" style="height: 10px;"></div>
                    <div id="area_2_2_2" flex layout="column" ng-include="'partials/popular_post.html'"></div>
                </div>
            </div>

            <div id="area_4" flex layout="column" style="height:1000px; padding: 0 8px 0 8px" ng-init="open=false">

                <div id="area_2_2_1_hidden" flex="none" layout="column" show-gt-lg hide-gt-sm ng-click="open=!open">
                    <div flex="none" layout="row" style="background-color: red;">
                        <div flex="none" layout="row" style="height: 50px;">
                            <div flex="none" layout="row" layout-align="center center" style="width: 50px">
                                <img src="assets/img/menu_dropdown.png" alt="">
                            </div>
                            <div flex></div>
                        </div>
                    </div>
                    <div flex="nano" layout="column" ng-if="open" style="height: 150px; background: #666666;">
                        <a flex ui-sref="home" style="border: 1px solid #323232; text-decoration: none !important; color: #323232; padding-left: 5px;" layout="row" layout-align="none center"><span class="md-body-2">Anasayfa</span></a>
                        <a flex ui-sref="articles" style="border: 1px solid #323232; text-decoration: none !important; color: #323232; padding-left: 5px;" layout="row" layout-align="none center"><span class="md-body-2">Makaleler</span></a>
                        <a flex ui-sref="documents" style="border: 1px solid #323232; text-decoration: none !important; color: #323232; padding-left: 5px;" layout="row" layout-align="none center"><span class="md-body-2">Dokümanlar</span></a>
                        <a flex ui-sref="about" style="border: 1px solid #323232; text-decoration: none !important; color: #323232; padding-left: 5px;" layout="row" layout-align="none center"><span class="md-body-2">Hakkımda</span></a>
                    </div>
                    <div flex="none" style="height: 10px;"></div>
                </div>

                <div id="area_4_1" flex="none" layout="row" layout-align="center center" style="height: 100px; background: url(assets/img/bg_pattern.png) #8290ff repeat-x; background-blend-mode: multiply">
                    <h3>{{title}}</h3>
                </div>

                <!--UI-VIEW-->
                <!--UI-VIEW-->
                <!--UI-VIEW-->
                <div id="area_4_2" flex layout="column" ui-view></div>
                <!--UI-VIEW-->
                <!--UI-VIEW-->
                <!--UI-VIEW-->

            </div>

            <div id="area_3" flex="25" layout="row" hide show-gt-sm>
                <div id="area_3_2" flex="100" flex-gt-md="75" style="background: darkkhaki" layout-padding>
                    <div id="area_3_2_1" flex="none" layout="row" layout-align="center center" style="height: 150px; background-color: #9E9E9E">Your Stats</div>
                    <div id="area_3_2_2"></div>
                </div>
                <div id="area_3_1" flex="25" hide show-gt-md></div>
            </div>
        </div>
        <div id="area_5" flex="grow" layout="column" ng-include="'partials/footer.html'" style="background: #919191"></div>
    </div>

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-aria.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/angular-messages.min.js"></script>
    <script src="assets/js/angular-material.min.js"></script>
    <script src="assets/js/angular-ui-router.min.js"></script>

    <script src="assets/js/app.min.js" charset="utf-8"></script>

</body>
</html>
